body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-b612: B612;
  --font-archivo-narrow: "Archivo Narrow";

  /* font sizes */
  --font-size-lg: 1.13rem;

  /* Colors */
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.6);
  --color-darksalmon-100: #d8996d;
}

.screenshot-20230114-201504-ins-icon {
  position: absolute;
  top: 7.5rem;
  left: 14.56rem;
  width: 38.13rem;
  height: 46.81rem;
  object-fit: cover;
}
.screenshot-20230114-201744-ins-icon {
  position: absolute;
  top: 7.5rem;
  left: 59.63rem;
  width: 22.19rem;
  height: 29.69rem;
  object-fit: cover;
}
.screenshot-20230114-202012-ins-icon,
.screenshot-20230114-202808-ins-icon {
  position: absolute;
  top: 38.2rem;
  left: 59.63rem;
  width: 10.63rem;
  height: 16.13rem;
  object-fit: cover;
}
.screenshot-20230114-202012-ins-icon {
  left: 71.19rem;
}
.date-child,
.date-inner,
.date-item {
  position: absolute;
  top: 119px;
  left: -19px;
  width: 2px;
  height: 197px;
  object-fit: cover;
}
.date-inner,
.date-item {
  top: 336px;
  height: 23px;
}
.date-inner {
  top: 380px;
  height: 11px;
}
.date,
.sep-2022 {
  position: absolute;
  transform-origin: 0 0;
}
.date,
.date-inner,
.sep-2022{
  position: absolute;
}
.sep-2022 {
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 89px;
  transform: rotate(90deg);
  background-color: transparent;
  border: 0;
  color: #000;
  /* transform-origin: 0 0; */
}
.date {
  top: 482px;
  left: 1363px;
  height: 391px;
}
.vector-icon {
  height: 78.13%;
  width: 78.13%;
  top: 10.94%;
  right: 10.94%;
  bottom: 10.94%;
  left: 10.94%;
  max-width: 100%;
  max-height: 100%;
}
.phinstagram-logo,
.vector-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.phinstagram-logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 3.5rem;
  width: 1.63rem;
  height: 1.63rem;
}
.vector-icon1 {
  height: 83.33%;
  width: 82.92%;
  top: 8.33%;
  right: 8.54%;
  bottom: 8.33%;
  left: 8.54%;
  max-width: 100%;
  max-height: 100%;
}
.icbaseline-whatsapp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 7rem;
  width: 1.63rem;
  height: 1.63rem;
  overflow: hidden;
}
.vector-icon2 {
  position: absolute;
  height: 84.4%;
  width: 71.88%;
  top: 7.79%;
  right: 14.06%;
  bottom: 7.81%;
  left: 14.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.links,
.phpinterest-logo-bold {
  position: absolute;
  height: 1.63rem;
}
.phpinterest-logo-bold {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 1.63rem;
  overflow: hidden;
}
.links {
  top: 56.81rem;
  left: 14.56rem;
  width: 8.63rem;
}
.we-all-need {
  margin: 0;
  position: absolute;
  top: 8.75rem;
  left: 0;
  color: var(--color-gray);
  display: inline-block;
  width: 19.06rem;
  height: 7.69rem;
}
.collection {
  margin: 0;
}
.autumn-collection,
.explore {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.autumn-collection {
  margin: 0;
  font-size: 3.13rem;
  font-weight: 400;
  font-family: var(--font-b612);
  display: inline-block;
  width: 19.81rem;
  height: 6.88rem;
}
.explore {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 5.5rem;
  height: 2.25rem;
}
.arrow-right-icon,
.vuesaxoutlinearrow-right {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
.arrow-right-icon {
  right: 100%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxoutlinearrow-right {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  right: 0;
  left: 1.4rem;
}
.arrow-right,
.explore-parent {
  position: absolute;
  height: 2.48rem;
}
.arrow-right {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 8.13rem;
  width: 2.48rem;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.explore-parent {
  top: 17.69rem;
  left: 0;
  width: 8.13rem;
  font-size: var(--font-size-lg);
}
.winter-collecction {
  position: absolute;
  top: 8.01rem;
  left: 93.69rem;
  width: 19.81rem;
  height: 20.16rem;
  font-size: 1.44rem;
}
.trends-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(216, 153, 109, 0.09);
  backdrop-filter: blur(45.66px);
  width: 21.69rem;
  height: 30.69rem;
}
.screenshot-20230114-201550-ins-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.75rem;
  height: 8.31rem;
  object-fit: cover;
}
.screenshot-20230114-201631-ins-icon,
.screenshot-20230114-202733-ins-icon {
  position: absolute;
  top: 8.94rem;
  left: 0;
  width: 7.75rem;
  height: 8.13rem;
  object-fit: cover;
}
.screenshot-20230114-202733-ins-icon {
  top: 17.69rem;
  height: 8.31rem;
}
.screenshot-20230114-201550-ins-parent {
  position: absolute;
  top: 2.31rem;
  left: 11.94rem;
  width: 7.75rem;
  height: 26rem;
}
.many-desktop-publishing {
  margin: 0;
  position: absolute;
  top: 5.81rem;
  left: 1.88rem;
  color: var(--color-gray);
  display: inline-block;
  width: 8.06rem;
  height: 18.06rem;
}
.more,
.trends1 {
  text-transform: uppercase;
}
.trends1 {
  margin: 0;
  position: absolute;
  top: 2.31rem;
  left: 1.88rem;
  font-size: 1.88rem;
  font-weight: 400;
  font-family: var(--font-b612);
  display: inline-block;
  width: 8.06rem;
}
.more {
  text-decoration: none;
  top: 0;
  left: 0;
  color: inherit;
  display: flex;
  align-items: center;
  width: 2.56rem;
}
.arrow-right1,
.more,
.more-parent {
  position: absolute;
  height: 1.61rem;
}
.arrow-right1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 2.88rem;
  width: 1.06rem;
}
.more-parent {
  top: 25.13rem;
  left: 1.88rem;
  width: 3.94rem;
  font-size: 0.94rem;
}
.trends {
  position: absolute;
  top: 31.75rem;
  left: 91.81rem;
  width: 21.69rem;
  height: 30.69rem;
}
.arrow-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(65, 28, 2, 0.15);
  backdrop-filter: blur(14.2px);
  width: 3.73rem;
  height: 2.13rem;
}
.vuesaxoutlinearrow-right-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow,
.arrow-right2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10.60rem;
  left: 80.60rem;
  width: 1.56rem;
  height: 1.56rem;
}
.arrow {
  top: 10.28rem;
  left: 80rem;
  width: 3.73rem;
  height: 2.13rem;
}

.autumn {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 69.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-archivo-narrow);
}
